%strong 消费列表

:css
  td { max-width: 300px; }
%table.table.table-bordered.table-striped.table-condensed
  %tr.head
    %td.first ID
    %td 用户
    %td 数值
    %td 备注
    %td 消费时间
    %td 创建时间

  - cache(cpanel_cache_key_for_record(@records)) do
    - @records.each do |record|
      - cache(record) do
        %tr
          %td.first= record.id
          %td= record.user.name
          %td= record.value
          %td= record.remark
          %td= record.ymdhms
          %td= record.created_at

= will_paginate @reocrds
