.row
  - content_for :styles do
    :css
      .cpanel-table .cpanel-input { width: 100%;}
      .cpanel-table td:nth-child(1) { width: 15%; min-width: 100px; text-align: right; }

  .col-sm-8.col-sm-offset-2
    %h3 编辑用户
    = simple_form_for([:cpanel, @user]) do |f| 
      %table.table.table-condensed.table-hover.table-strip.cpanel-table
        %tr
          %td 用户名称
          %td= f.input :name, label: false, input_html: { class: "input-group cpanel-input" }
        %tr
          %td 性别
          %td= f.input :gender, label: false, input_html: { class: "input-group cpanel-input" }
        %tr
          %td 城市
          %td= f.input :address, label: false, input_html: { class: "input-group cpanel-input" }
        %tr
          %td 登陆次数
          %td= f.input :sign_in_count, label: false, readonly: true, input_html: { class: "input-group cpanel-input" }
        %tr
          %td 当前登陆IP
          %td= f.input :current_sign_in_ip, as: :string, readonly: true, label: false, input_html: { class: "input-group cpanel-input" }
        %tr
          %td 当前登陆时间
          %td= f.input :current_sign_in_at, as: :string, readonly: true, label: false, input_html: { class: "input-group cpanel-input" }
        %tr
          %td 最近登陆IP
          %td= f.input :last_sign_in_ip, as: :string, readonly: true, label: false, input_html: { class: "input-group cpanel-input" }
        %tr
          %td 最近登陆时间
          %td= f.input :last_sign_in_at, as: :string, readonly: true, label: false, input_html: { class: "input-group cpanel-input" }

        %tr
          %td.float-right{colspan: "2"}
            = link_to t("cancel"), cpanel_users_path()
            = f.submit t("submit"), :class => "btn btn-primary"

