%strong 用户列表

%table.table.table-bordered.table-striped.table-condensed
  %tr.head
    %td.first ID
    %td 名称
    %td 邮箱
    %td 消费数
    %td 标签数
    %td 注册时间
    %td 操作

  - cache(cpanel_cache_key_for_view(@users)) do
    - @users.each do |user|
      - cache(user) do
        %tr
          %td.first= user.id
          %td= user.name
          %td= user.email
          %td= user.records.size
          %td= user.tags.size
          %td= user.created_at
          %td
            = link_to edit_cpanel_user_path(user) do
              %i.glyphicon.glyphicon-edit

= will_paginate @reocrds
