.row
  .panel.panel-default
    .panel-heading
      消费报表

    :css
      .user-report td:nth-child(1) { padding-left: 15px; width: 25%;}
    %table.table.table-condensed.table-bordered.user-report
      %tbody
        - user_report = current_user.generate_user_report
        %tr
          %td 单笔最大消费
          %td= user_report.maximum_per_one
        %tr
          %td 单日最大消费
          %td= user_report.maximum_per_day
        %tr
          %td 今日消费
          %td= user_report.summary_by_day
        %tr
          %td 本周消费
          %td= user_report.summary_by_week
        %tr
          %td 本月消费
          %td= user_report.summary_by_month
        %tr
          %td 本年消费
          %td= user_report.summary_by_year
