.row.row-offcanvas.row-offcanvas-right
  #sidebar.col-sm-3.sidebar-offcanvas{:role => "navigation"}
    .row
      .list-group
        .list-group-item.active.row{style: "margin-left:0px;margin-right:0px;"}
          .col-6.col-sm-6.col-lg-6
            = gravatar_image_tag(current_user.email, alt: current_user.name)
          .col-6.col-sm-6.col-lg-6
            = current_user.name
        %a.list-group-item{:href => "#"}= ["消费[", @records.count, "]笔"].join
        %a.list-group-item{:href => "#"} 消费圈
    // ask other to join group
    .row
      .list-group
        - current_user.ask_groups.each do |group|
          .list-group-item
            = (user = User.find(group.to_id)).email
            - if group.state == "wait"
              = content_tag(:span, "等待同意", { class: "label label-info", style: "float:right;"})
            - elsif group.state == "refuse"
              = link_to "再请求", ask_group_user_path(user), remote: true, method: :get, class: "btn btn-default btn-xs", style: "float:right;"
              = content_tag(:span, "被拒", { class: "label label-danger", style: "float:right;"})
            - else
              = content_tag(:span, "$_$", { class: "label label-warn", style: "float:right;"})

    // be asked to join group
    .row
      .list-group
        - current_user.follow_groups.each do |group|
          - next if group.state == "refuse"
          .list-group-item
            = (user = User.find(group.from_id)).email
            = link_to "同意", agree_group_user_path(user), remote: true, method: :post, class: "btn btn-default btn-primary btn-xs", style: "float: right"
            = link_to "拒绝", refuse_group_user_path(user), remote: true, method: :delete, class: "btn btn-default btn-danger btn-xs", style: "float: right"

    // group users
    .row
      .list-group
        - current_user.group_members.each do |user|
          .list-group-item
            = user.email
    .row
      .list-group
        = render partial: "users/search", layout: false

  //span
  .col-sm-6
    // 消费记录创建框
    .jumbotron.record_form{style: "padding:11px 40px;display:block;"}
      = render partial: "records/form"

    // 消费记录列表
    .row
      .col-12.col-sm-12.col-lg-12
        = render template: "records/index", layout: false

  // 侧边栏-标签列表
  .col-sm-3
    = render template: "tags/index", layout: false
