.row.row-offcanvas.row-offcanvas-right
  #sidebar.col-sm-3.sidebar-offcanvas{:role => "navigation"}
    .row
      .list-group
        .list-group-item.row{style: "margin-left:0px;margin-right:0px;"}
          .col-sm-6
            = gravatar_image_cache_tag(current_user.email, alt: current_user.name)
          .col-sm-6
            .row
              = render partial: "users/edit_user_name", layout: false
            .row
              = "记录: %d" % current_user.records.normals.size
            .row
              = "标签: %d" % current_user.tags.normals.size
        %a.list-group-item{onclick: "Record.showModal();"}
          %i.glyphicon.glyphicon-plus
          = render partial: "records/consume_form_modal", layout: false
        %a.list-group-item.hidden
          %label.checkbox-inline
            %input{type: "checkbox", value: "option", onclick: "Tags.toggleShow(this, '.tags-list');"} 
            标签列表
        %a.list-group-item{:href => ""}= Time.now.strftime("%Y-%m-%d %H:%M:%S")


    .row
      .list-group#user_report
        = render partial: "users/user_report"
    // ask other to join group
    .row
      .list-group
        - current_user.ask_groups.each do |group|
          .list-group-item
            = (user = User.find(group.to_id)).username
            = ask_user_state(group)
    //search
    .row
      .list-group
        = render partial: "users/search", layout: false


    // be asked to join group
    .row
      .list-group
        .list-group-item 消费圈:
        - current_user.follow_groups.each do |group|
          - next if group.state == "refuse"
          .list-group-item
            = (user = User.find(group.from_id)).username
            = link_to "同意", agree_group_user_path(user), remote: true, method: :post, class: "btn btn-default btn-primary btn-xs", style: "float: right"
            = link_to "拒绝", refuse_group_user_path(user), remote: true, method: :delete, class: "btn btn-default btn-danger btn-xs", style: "float: right"

        // group users
        - current_user.group_members(false).each do |user|
          .list-group-item
            = gravatar_image_cache_tag(user.email, height: "25px")
            = content_tag(:span, user.username)


  .col-sm-9.records-list

    // 消费记录列表
    .row.nomobile-width
      .col-12.col-sm-12.col-lg-12
        = render template: "records/index", layout: false


// Modal
.modal#personalInfoModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .modal-title
          用户隐私信息
      .modal-body
        .row
          .form-horizontal
            .form-group
              %label.col-sm-2.control-label{for: "userToken"} Token
              .col-sm-8
                %input.form-control#userToken{type: "text", value: "#{current_user.token}" }
      .modal-footer