%table.table
  %thead
    %tr
      %th.hidden Prefix
      %th.hidden Version
      %th.hidden Namespace
      %th Method
      %th URL
      %th.hidden Params
      %th.hidden Describtion
  %tbody
    - @routes.each do |route|
      %tr
        %td.hidden= route.route_prefix
        %td.hidden= route.route_version
        %td.hidden= route.route_namespace
        %td= route.route_method
        %td= ["http://", Setting.domain, route.route_path.sub("(.:format)",".json")].join
        %td.hidden= route.route_params
        %td.hidden= route.route_description
