!!!
%html{:lang => "zh-CN"}
  %head
    %meta{:charset => "utf-8"}
    %title= [Setting.title, "-", Setting.slogan].join(" ")
    - if mobile?
      %meta{content: "no", name: "apple-mobile-web-app-capable"}
        %meta{content: "True", name: "HandheldFriendly"}/
        %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
        %link{rel: "apple-touch-icon-precomposed", href: "#{Setting.favicon}"}/
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
      :css
        .container { width: 100%; }
        .col-sm-offset-2 { margin-left: 0%; }
        .col-sm-8 { width: 100%; }

    %link{rel: "shortcut icon", href: "#{Setting.favicon}"}/
    = stylesheet_link_tag "#{Setting.cdn.bootstrap.v303.css}"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body.home-body{style: "padding:0px;background: white;"}
    %nav#nav.navbar.navbar-default{:role => "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.brand{href: "/", tabindex: "-1", style: "background: transparent url(#{Setting.favicon}) no-repeat;text-indent: 15px;padding-left:40px;margin-left:10px;"} 
          %span.hangshu 爱记录
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.hidden
          %li.active
            %a{:href => "#"} Link
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.hidden.login{"data-target" => "#login-modal-no", "data-toggle" => "modal", :href => "/users/sign_in", :role => "button", :type => "button"} 登录
            %a.login{href: "/users/sign_in"} 登陆
          %li.action
            %a.signup{:href => "javascript:void(0);"}
              %strike 免费注册 
    #slogn
      %header#home-hero
        .container
          .row
            .col-sm-12{style: "text-align:center;"}
              = notice_message
          .row
            .col-sm-12
              %h1.tagline 爱生活，爱记录
              %h2.intro 橫向解析你的消费习惯，纵向解释你的资金去向。
              %p.intro.apps-download
                获取
                = succeed "\u{ff0c}" do
                  %a.no-hover{alt: "爱记录 iOS 客户端", href: "javascript:void(0);"} 
                    %strike iPhone
                = succeed "\u{ff0c}" do
                  %a.zapfino.android-btn.no-hover{onclick: "Home.downloadMobileClient(this, 'android');"} Android
                %a.no-hover{:alt => "爱记录 Mac 客户端", :href => "javascript:void(0);"} 
                  %Strike Mac
                客户端
    .container#cache
      .row.mobile.android.hidden
        .row
          %img{src: "http://qr.liantu.com/api.php?text=#{Setting.mobile.os.android.url}"}
        .row
          %a{href: "#{Setting.mobile.os.android.url}"} 本地下载
      .row
        .col-sm-8.col-sm-offset-2
          .alert.alert-warning
            %a.hidden.close{"data-dismiss" => "alert",  href: "#", onclick: "Home.resizeWindow();"} &times; 
            温馨提示: 若您对[爱记录]不甚了解, 请勿注册或下载app， 以免给您带来不便...
      .row.cache-list
        .col-sm-8.col-sm-offset-2
          .alert.alert-info
            :css
              .table { margin: 0px; }
            %table.table.table-condensed
              - @cache.map { |line| line.split(/,/) }.each do |row|
                %tr
                  - row.each do |data|
                    %td= data

    %footer#footer
      .copyright
        %p 
          &copy;
          #{Time.now.strftime("%Y")} 
          %span.zapfino #{Setting.domain}

#login-modal.modal.fade
  .modal-dialog
    .modal-content{style: "max-width:450px;"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#login-modal-label 登录
      .modal-body{style: "min-height: 150px;max-width:430px;"}
        .col-sm-10.col-sm-offset-1
          %form#new_user.simple_form.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post", :novalidate => "novalidate"}
            %div{:style => "margin:0;padding:0;display:inline"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}
                %input{:name => "authenticity_token", :type => "hidden", :value => "speZxhxzs9RlQfPvdBPC+m8k6s/+V8JR5Nt4zj8G44U="}/
            .form-inputs
              .control-group.email.optional.user_email
                .controls
                  %input#user_email.string.email.optional.col-sm-12.form-control{:autofocus => "autofocus", :name => "user[email]", :style => "border-radius: 4px 4px 0px 4px;", :type => "email"}/
              .control-group.password.required.user_password{:style => "display: inline;"}
                .controls
                  %input#user_password.password.required.col-sm-8.form-control{:name => "user[password]", :style => "width:80%;border-radius: 4px 0px 0px 4px;", :type => "password"}/
              %input.btn.btn.btn-primary{:label => "false", :name => "commit", :style => "border-radius: 0px 0px 4px 0px;", :type => "submit", :value => "登 陆"}


= javascript_include_tag "application", "data-turbolinks-track" => true
= javascript_include_tag "#{Setting.cdn.bootstrap.v303.js}"
:javascript
  $(function(){
    Home.resizeWindow()
    $(window).resize(function(){
      Home.resizeWindow()
    });
    $(".android-btn").trigger("click");
    $(".android-btn").trigger("click");
  });
