= render partial: "shared/banner_environment"
!!!
%html{:lang => "zh-CN"}
  %head
    %meta{:charset => "utf-8"}
    %title= [Setting.title, "-", Setting.slogan].join(" ")
    %link{rel: "shortcut icon", href: "#{Setting.favicon}"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    - main_div_class = 'col-sm-10 col-sm-offset-1'
    - platform, li_register_state = 'non-mobile', 'normal'
    - if mobile?
      - platform, li_register_state = 'is-mobile', 'hidden'
      - main_div_class = 'col-sm-12'
      %meta{content: "no", name: "apple-mobile-web-app-capable"}
        %meta{content: "True", name: "HandheldFriendly"}/
        %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
        %link{rel: "apple-touch-icon-precomposed", href: "#{Setting.favicon}"}/
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
      :css
        .container { width: 100%; }
        .col-sm-offset-2 { margin-left: 0%; }
        .col-sm-8 { width: 100%; }
        .table { table-layout: fixed; }
        .table td { word-break:break-all }
        .navbar-collapse {background: gray;}
        body.home-body .navbar .nav li a {text-align: left; padding-left: 30px; line-height: 30px;}

    :css
      .navbar-brand1 {background: transparent url(assets/favicon-white.ico) no-repeat;height:80px; width:140px;margin-top:5px;padding-top:0px;}
      .navbar-brand {margin-top:10px;} 
      .col-sm-12 {padding-right: 0px;}
      .table { margin: 0px; }
      .col-no-padding { padding-left:0px; padding-right:0px; }

    = csrf_meta_tags

  %body.home-body{class: platform, style: "padding:0px;background: white;"}
    %nav.navbar.navbar-default{role: "navigation", style:"margin-bottom:0px;"}
      .container
        .row
          %div{class: main_div_class, style: "padding-left:0px;"}
            .navbar-header
              %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{href: "/", tabindex: "-1"}
                %span.hangshu{style: "color: white;"} 爱记录
            / Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse{role: "navigation", id:"bs-example-navbar-collapse-1"}
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a.login{href: "/users/sign_in"} 登陆
                %li.action{class: li_register_state, style: "text-align: center;"}
                  %a.signup{:href => "javascript:void(0);"}
                    %strike 注册 

    #slogn
      %header#home-hero
        .container
          .row
            %div.center.col-no-padding{class: main_div_class, style: "text-align: center;"}
              = notice_message
          .row{style: "text-align: center;"}
            .col-sm-12
              %h1.tagline 爱生活，爱记录
              %h2.intro 橫向解析你的消费习惯，纵向解释你的资金去向。
              %p.intro.apps-download
                获取
                = succeed "\u{ff0c}" do
                  %a.no-hover{alt: "爱记录 iOS 客户端", href: "javascript:void(0);"} 
                    %strike iPhone
                = succeed "\u{ff0c}" do
                  %a.zapfino.android-btn.no-hover{onclick: "Home.downloadMobileClient(this, 'android');"} Android
                %a.no-hover{:alt => "爱记录 Mac 客户端", :href => "javascript:void(0);"} 
                  %Strike Mac
                客户端
    .container#cache
      .row.mobile.android.hidden{style: "text-align: center;"}
        .row
          %img{src: "http://qr.liantu.com/api.php?text=#{Setting.mobile.os.android.url}"}
        .row
          %a{href: "#{Setting.mobile.os.android.url}"} 本地下载
      .row
        .col-sm-8.col-sm-offset-2
          .alert.alert-warning
            %a.hidden.close{"data-dismiss" => "alert",  href: "#", onclick: "Home.resizeWindow();"} &times; 
            温馨提示: 若您对[爱记录]不甚了解, 请勿注册或下载app， 以免给您带来不便...
      .row.cache-list
        .col-sm-8.col-sm-offset-2
          .alert.alert-info
            %table.table.table-condensed
              - @cache_list.each do |row|
                %tr
                  - row.each_with_index do |data, index|
                    - unless index == 4
                      %td= data 

    %footer#footer
      .copyright
        %p 
          &copy;
          #{Time.now.strftime("%Y")} 
          %span.zapfino #{Setting.domain}


= javascript_include_tag "application", "data-turbolinks-track" => true
= javascript_tag defer: "defer" do
  Home.resizeWindow()
  $(window).resize(function(){ Home.resizeWindow() })
  $(".android-btn").trigger("click");
  $(".android-btn").trigger("click");
