= simple_form_for(@record, remote: true) do |f|
  = render partial: "shared/error_messages", locals: { target: @record }

  %fieldset
    = f.input :user_id, as: :hidden
    = f.input :tags_list, as: :hidden

    .form-group.form-inline
      = f.text_field :value, class: "col-md-3 form-control", placeholder: "消费数值"
      = f.text_field :ymdhms,class: "col-md-6 form-control", placeholder: "消费日期"
    %br
    .form-group
      = f.input_field :remark, as: :text, class: "col-md-9 form-control", placeholder: "消费备注", label: false

    .form-group
      %ul#eventTags.col-md-10{style:"line-height:18px;font-size:14px;"}
        = tag_it_list @record
      = f.button :submit, "提交", class: "btn btn-primary pull-right", onclick: "App.showLoading();"
