%tr{id: "#{dom_id record}"}
  %td= record.value
  %td= record.remark
  %td= record.ymdhms
  %td= record.tags_string
  - if record.user_id == user_id
    %td.record-operation.hidden= link_to t("edit"), "/records/#{record.id}/edit", remote: true, onclick: "App.showLoading();", class: "btn btn-info btn-xs"
    %td.record-operation.hidden= link_to t("del"), record, :method => :delete, :data => { :confirm  => 'Are you sure?' }, remote: true, class: "btn btn-danger btn-xs"
  - else
    %td.record-operation.hidden= link_to t("edit"), "javascript:void(0);", disabled: "disabled", class: "btn btn-default btn-xs"
    %td.record-operation.hidden= link_to t("del"), "javascript:void(0);", disabled: "disabled", class: "btn btn-default btn-xs"
