%tr{id: "#{dom_id record}"}
  %td= gravatar_image_cache_tag(record.user.email, height: "25px")
  %td= record.value.zero? ? "日志" : number_format_to_currency(record.value)
  %td= record.remark
  %td= record.ymdhms.first(16)
  %td.record-tag.hidden= record.tags_string
  %td.operation-edit.hidden
    - if can? :update, record
      = link_to "/records/#{record.id}/edit", remote: true, onclick: "App.showLoading();", class: "btn btn-info btn-xs" do
        %span.glyphicon.glyphicon-pencil
    - else
      = link_to "javascript:void(0);", disabled: "disabled", class: "btn btn-default btn-xs" do
        %span.glyphicon.glyphicon-pencil

  %td.operation-del.hidden
    - if can? :soft_destroy, record
      = link_to record, :method => :delete, :data => { :confirm  => "金额:%s\r内容:%s\r确定删除?" % [record.value, record.remark] }, remote: true, class: "btn btn-danger btn-xs" do
        %span.glyphicon.glyphicon-trash
    - else
      = link_to "javascript:void(0);", disabled: "disabled", class: "btn btn-default btn-xs" do
        %span.glyphicon.glyphicon-trash
