.row.hidden
  %label.checkbox-inline{style: "float: right;"}
    %input{type: "checkbox", value: "option", onclick: "Records.toggleShow(this, '.record-operation');"} 
    = t("operation")

.row
  :css
    td:nth-child(2) { max-width: 300px; }
  %div{style: "border-radius: 5px;background: white;padding: 5px;"}
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th= t("view.record.value")
          %th= t("view.record.remark")
          %th= t("view.record.ymdhms")
          %th= t("view.tag")
          %th.record-operation.hidden.center{colspan:"2"}
            = t("operation")

      %tbody
        - cache(cache_key_for_record(@records)) do
          - @records.each do |record|
            - cache(record) do
              = render partial: "records/record", locals: { record: record, user_id: current_user.id } if record

.row
  = will_paginate @records
