%table.table.table-hover
  %tr
    %th= t("view.record.value")
    %th= t("view.record.remark")
    %th= t("view.record.ymdhms")
    %th= t("view.tag")
    %th= t("view.operation.edit")
    %th= t("view.operation.destroy")

  - @records.each do |record|
    - next if !record.valid?
    = render partial: "records/record", locals: { record: record }
