%p#notice= notice

%p
  %b User:
  = @record.user_id
%p
  %b Value:
  = @record.value
%p
  %b Remark:
  = @record.remark
%p
  %b Ymdhms:
  = @record.ymdhms

= link_to 'Edit', edit_record_path(@record)
\|
= link_to 'Back', records_path
