%tr{id:"#{dom_id tag}"}
  %td= tag.label
  %td.center.no-padding= tag.klass_name
  %td.tag-operation.hidden.right.no-padding= link_to t("edit"), edit_tag_path(tag), remote: true, class: "btn btn-xs btn-info", onclick: "App.showLoading();"
  %td.tag-operation.hidden.right.no-padding= link_to t("del"), tag, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger" 
