:css
  .login-page-header { margin-top: 10px; margin-bottom: 30px; }
  .login-page-header h1 { text-align:center;margin-top:70px;margin-bottom:30px;" } 
  #mobile_new_user .login-inline { display: inline-block; width: 78%;}
  #new_user .login-inline { display: inline; }
  #new_user .login-inline .controls .form-input { width: 80%; }
  .form-inputs .controls .form-input { height: 53px; }
  .login-submit { height:53px;width:20%; border-radius: 0px 5px 5px 0px; }
  #user_password { style: "border-radius: 5px 0px 0px 5px;" }
  .center { text-align: center; }

.row.login-page-header
  .col-sm-8.col-sm-offset-2.center
    %h1
      爱生活，爱记录
    %h3 橫向解析你的消费习惯，纵向解释你的资金去向。

.row
  .col-sm-6.col-sm-offset-3
    - form_dom_id = toggle_mobile_dom_id("new_user")
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: form_dom_id}) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true, label: false, input_html: { class: "col-sm-12 form-input form-control" }, placeholder: "用户邮箱"
        = f.input :password, required: true, label: false, input_html: { class: "col-sm-8 form-input form-control" }, wrapper_html: { class: "login-inline" }, placeholder: "登陆密码"
        - f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        = link_to "", onclick: "$('##{form_dom_id}').submit();", class: "btn btn-primary login-submit" do
          %i.glyphicon.glyphicon-arrow-right{style: "margin-top: 12px;"}
      - if devise_mapping.rememberable?
        .from-group.checkbox
          %label{:for => "user_remember_me"}
            = f.check_box :remember_me
            = t("simple_form.remember_me")
        
    = render "devise/shared/links"

    :javascript
      $(function(){
          // monitor input change
          function inputMonitor() {
              var isDisabled = false;
              $("input").each(function(){
                  if(!$.trim($(this).val()).length) isDisabled = true;
              })
              console.log(isDisabled);
              if(isDisabled == true)
                  $("#loadTrigger").attr("disabled", "disabled");
              else
                  $("#loadTrigger").removeAttr("disabled");
          }

          inputMonitor();
          $("input").bind("onchange keyup input", function(){
              inputMonitor();
          });
          // end monitor input change
      });

