%p 你好 #{@email},
%p 感谢您注册[#{Setting.team}]!
%p 请点击下面链接来确认您的帐户邮箱:
%p= link_to '激活我的帐户', confirmation_url(@resource, confirmation_token: @token)

%br
%p ----------------------------------------
%p 您的[#{Setting.team}]团队
%p 联系我们: #{Setting.contact} 
