%p 尊敬的用户，#{@resource.name}:
%br
%p 您好！
%p 有人申请发送链接来重置您在#{Setting.team}的密码, 您可以点击下面链接来创建新的密码.
%p= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token)
%p 如果不是您请求的操作, 请忽略本邮件.
%p 只要不操作上面的链接, 您的密码不会被修改.
%br
%p 此敬
%p #{Setting.team}账户小组敬上
%p 联系我们: #{Setting.contact} 
%br
%small 本电子邮件地址可以接受回复邮件。
