%h1 系统信息

%h2 资源占用状况
%table.table.table-bordered.table-condensed
  - SysInfo::Top.array.each do |array|
    %tr
      - array.first(9).each_with_index do |data, index|
        %td
          - if index.zero?
            %strong= data
          - else
            = BKMG::Base.best(data, 0)

%h2 应用进程状态
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th PID
      %th USER
      %th %CPU
      %th %MEM
      %th STARTED
      %th COMMAND
  %tbody
    %tr
      - app_hash = {}
      - ::SysInfo::Ps.pid($$).each do |hash|
        - app_hash = hash
        %td= hash["PID"]
        %td= hash["USER"]
        %td= hash["%CPU"]
        %td= hash["%MEM"]
        %td= hash["STARTED"]
        %td= hash["COMMAND"]

%h2 系统基本信息 
:css
  .table-244 td:nth-child(1) { width: 20%; }
  .table-244 td:nth-child(2) { width: 40%; }
  .table-244 td:nth-child(3) { width: 40%; }

%table.table.table-244.table-bordered.table-condensed
  - sysinfo = SysInfo::Base.hash
  - sysinfo = sysinfo.inject({}){|memo,(k,v)| memo[k.to_s] = v; memo}
  %thead
    %tr
      %th 参数
      %th SYS
      %th App
  %tr
    %td 
      %strong HostName
    %td= sysinfo["hostname"]
    %td -
  %tr
    %td 
      %strong PlatForm
    %td= sysinfo["platform"]
    %td -
  %tr
    %td 
      %strong HardWare
    %td= sysinfo["hardware"]
    %td - 
  %tr
    %td 
      %strong IP
    %td= sysinfo["ip"]
    %td= Rails.env
  %tr
    %td 
      %strong 内存 
    %td= sysinfo["memory"]
    %td= app_hash["%MEM"] + "%"
  %tr
    %td 
      %strong CPU
    %td= sysinfo["cpu"]
    %td= app_hash["%CPU"] + "%"
  %tr
    %td 
      %strong 硬盘 
    %td= sysinfo["disk"]
    %td= app_disk_info()

%h1 站内资源
:css
  .table-fixed { table-layout: fixed; }
  .table-fixed td { word-break:break-all }

%h2 基本信息 
%table.table.table-fixed.table-bordered.table-condensed
  %tr
    %td 
      %strong 用户数量
    %td=link_to User.count, cpanel_users_path() 
    %td 
      %strong 标签数量
    %td=link_to Tag.count, cpanel_tags_path()
  %tr
    %td 
      %strong 消费记录
    %td=link_to Record.count, cpanel_records_path()
    %td 
      %strong 回复数量
    %td=link_to Comment.count, cpanel_comments_path()

%h2 最近消费
%table.table.table-fixed.table-bordered.table-striped.table-condensed
  %tr.head
    %td.first ID
    %td 数值
    %td 备注
    %td 消费时间
    %td 创建时间

  - cache(cpanel_cache_key_for_view(@recent_records)) do
    - @recent_records.each do |record|
      - cache(record) do
        %tr
          %td.first= record.id
          %td= record.value
          %td= record.remark
          %td= record.ymdhms
          %td= record.created_at

