%strong 整体概况

:css 
  td:nth-child(1){ width: 80px; }
%table.table.table-bordered.table-condensed
  %tr
    %td 用户数量
    %td=link_to User.count, cpanel_users_path() 
  %tr
    %td 消费记录
    %td=link_to Record.count, cpanel_records_path()
  %tr
    %td 标签数量
    %td=link_to Tag.count, cpanel_tags_path()
  %tr
    %td 回复数量
    %td=link_to Comment.count, cpanel_comments_path()

%strong 最近消费记录

%table.table.table-bordered.table-striped.table-condensed
  %tr.head
    %td.first ID
    %td 数值
    %td 备注
    %td 消费时间
    %td 创建时间

  - cache(cpanel_cache_key_for_view(@recent_records)) do
    - @recent_records.each do |record|
      - cache(record) do
        %tr
          %td.first= record.id
          %td= record.value
          %td= record.remark
          %td= record.ymdhms
          %td= record.created_at

