%nav.navbar.navbar-default{role: "banner"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "控制台", cpanel_root_path(), class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse{role: "navigation"}
      %ul.nav.navbar-nav
        %li.-cpanel-index= link_to "概况", cpanel_root_path()
        %li.-cpanel-users= link_to "用户", cpanel_users_path()
        %li.-cpanel-records= link_to "记录", cpanel_records_path()
        %li.-cpanel-tags= link_to "标签", cpanel_tags_path()
        %li.-cpanel-comments= link_to "回复", cpanel_comments_path()
        %li.-cpanel-reports= link_to "报表", cpanel_reports_path()
        %li.dropdown.hidden
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Dropdown
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li
              %a{:href => "#"} Separated link
            %li.divider
            %li
              %a{:href => "#"} One more separated link
      %form.hidden.navbar-form.hidden.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{:href => "#"} Link
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            设置
            %b.caret
          %ul.dropdown-menu
            %li.hidden
              %a{:href => "/users/edit"}
                %i.glyphicon.glyphicon-user
                账户设置
            %li
              %a{:href => "/"}
                %i.glyphicon.glyphicon-wrench
                返回前台 
            %li.divider
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.glyphicon.glyphicon-log-out
                退出

