!!!
%html
  %head
    =  render_page_title
    %link{rel: "shortcut icon", href: "#{Setting.favicon}"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    - if mobile?
      %meta{content: "no", name: "apple-mobile-web-app-capable"}
        %meta{content: "True", name: "HandheldFriendly"}/
        %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
        %link{rel: "apple-touch-icon-precomposed", href: "#{Setting.favicon}"}/
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
      :css
        .container { width: 100%; }
        .col-sm-offset-2 { margin-left: 0%; }
        .col-sm-8 { width: 100%; }
        .table { table-layout: fixed; }
        .table td { word-break:break-all }
        .navbar-brand {background: transparent url(#{Setting.favicon}) no-repeat;text-indent: 15px;background-position: center;background-repeat: no-repeat;} 
        .col-sm-12 {padding-right: 0px;}
    - else
      :css
        .navbar-brand {background: transparent url(#{Setting.favicon}) no-repeat;text-indent: 15px;background-position: center;background-repeat: no-repeat;} 
        .col-sm-12 {padding-right: 0px;}
        /*用户首页，消费记录列表 col-sm-9的左边距*/
        .nomobile-width { padding: 0px 20px; }

    = csrf_meta_tags
  %body.home-body{style: "padding:0px;background: white;"}
    = render partial: "layouts/header"
    #main.container
      .row
        .col-sm-12{style: "text-align:center;"}
          .loading.hidden 加载中...
          = notice_message
          
      = yield


    %div#footer
      .copyright
        %p 
          &copy;
          #{Time.now.strftime("%Y")} 
          %span.zapfino #{Setting.domain}

