= render partial: "shared/banner_environment"
!!!
%html
  %head
    =  render_page_title
    %link{rel: "shortcut icon", href: "#{Setting.favicon}"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    :css
      body { padding:0px;background: white; }
      .navbar-brand-bg {background: transparent url(#{Setting.favicon}) no-repeat;text-indent: 15px;background-position: center;background-repeat: no-repeat;} 
      .col-sm-12 {padding-right: 0px;}
      .col-no-padding { padding-left:0px; padding-right:0px; }
      /*用户首页，消费记录列表 col-sm-9的左边距*/
      .nomobile-width { padding: 0px 20px; }

      /* bootstrap font-face 
      @font-face {
          font-family:'Glyphicons Halflings';
          src:url(#{font_path("glyphicons-halflings-regular.eot")});
          src:url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/glyphicons-halflings-regular.woff) format("woff"),url(/assets/fonts/glyphicons-halflings-regular.ttf) format("truetype"),url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
      }*/

    - main_div_class = "col-sm-10 col-sm-offset-1"
    - main_div_class = "col-sm-12"
    - if mobile?
      - main_div_class = "col-sm-12"
      %meta{content: "no", name: "apple-mobile-web-app-capable"}
        %meta{content: "True", name: "HandheldFriendly"}/
        %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
        %link{rel: "apple-touch-icon-precomposed", href: "#{Setting.favicon}"}/
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
      :css
        .container { width: 100%; }
        .col-sm-offset-2 { margin-left: 0%; }
        .col-sm-8 { width: 100%; }
        .mobile-table { table-layout: fixed; }
        .mobile-table td { word-break:break-all }
        .navbar-brand-bg {background: transparent url(#{Setting.favicon}) no-repeat;text-indent: 15px;background-position: center;background-repeat: no-repeat;} 
        .col-sm-12 {padding-right: 0px;}

    = csrf_meta_tags

  %body
    = render partial: "layouts/header"
    #main.container
      .row
        %div.col-no-padding.center{class: main_div_class}
          .loading.hidden 加载中...
          = notice_message
          
      = yield


    %div#footer
      .copyright
        %p 
          &copy;
          #{Time.now.strftime("%Y")} 
          %span.zapfino #{Setting.domain}

