!!!
%html
  %head
    =  render_page_title
    - if mobile?
      %meta{content: "no", name: "apple-mobile-web-app-capable"}
        %meta{content: "True", name: "HandheldFriendly"}/
        %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
        %link{rel: "apple-touch-icon-precomposed", href: "http://solife-images.u.qiniudn.com/favicon.so.ico"}/
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %link{rel: "shortcut icon", href: "http://solife-images.u.qiniudn.com/favicon.so.ico"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"
    = controller_javascript_include_tag 
    = stylesheet_link_tag "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
    = controller_stylesheet_link_tag 
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/header" if user_signed_in?
    .container
      .row
        .col-sm-12{style: "text-align:center;"}
          .loading.hidden 加载中...
          = notice_message
          
      = yield

    :javascript
      $(function() {
        $('body').tooltip({
          selector: "[data-toggle=tooltip]",
          container: "body"
        })
        $('body').popover({
          selector: "[data-toggle=popover]",
          container: "body"
        })
      })
