!!!
%html
  %head
    =  render_page_title
    - if mobile?
      %meta{content: "no", name: "apple-mobile-web-app-capable"}
        %meta{content: "True", name: "HandheldFriendly"}/
        %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
        %link{rel: "apple-touch-icon-precomposed", href: "#{Setting.favicon}"}/
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %link{rel: "shortcut icon", href: "#{Setting.favicon}"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = yield :styles
    = csrf_meta_tags
  %body
    = render partial: "layouts/cpanel_header"
    .container
      .row
        .col-sm-12{style: "text-align:center;"}
          .loading.hidden 加载中...
          = notice_message
          
      .row
        .inner-main
          = yield

    %footer#footer
      .copyright
        %p 
          &copy;
          #{Time.now.strftime("%Y")} 
          %span.zapfino #{Setting.domain}

    = yield :scripts
